                    <div class="row g-0">
<div class="background">
  <main class="shell">
    <section class="card-on-blue">
      <div
        class="card-media"
        style="background: url('assets/login-image.jpg') center/cover no-repeat;"
      >
        <div class="card-media-overlay">
          <img class="icon large" src="assets/attendancer-emblem.svg" />
          <p style="justify-content: center; align-items: center;">
            {{ 'LOGIN.WELCOME_BACK' | translate }}
          </p>
        </div>
      </div>

      <div class="card-form">
        <h1>{{ 'LOGIN.SIGN_IN_TITLE' | translate }}</h1>

                    

                                <form #loginForm="ngForm" class="form" (ngSubmit)="onLogin(loginForm)">
                                    <div class="form-field p-2">
                                        <label for="email" class="field-label"
                                            style="font-size: 20px; font-weight: 700;">
                                            Email address
                                        </label>
                                        <input
                                            type="email"
                                            [(ngModel)]="loginModel.email"
                                            name="email"
                                            #email="ngModel"
                                            placeholder="Enter email"
                                            required
                                            email
                                        />
                                        <div class="error" *ngIf="email.invalid && email.touched">
                                            <small *ngIf="email.errors?.['required']">Email is required.</small>
                                            <small *ngIf="email.errors?.['email']">Invalid email format.</small>
                                        </div>
                                    </div>

                                    <div class="form-field p-2">
                                        <label for="password" class="field-label"
                                            style="font-size: 20px; font-weight: 700;">
                                            Password
                                        </label>
                                        <input
                                            type="password"
                                            [(ngModel)]="loginModel.password"
                                            name="password"
                                            #password="ngModel"
                                            placeholder="Enter password"
                                            required
                                        />
                                        <div class="error" *ngIf="password.invalid && password.touched">
                                            <small *ngIf="password.errors?.['required']">Password is required.</small>
                                        </div>
                                    </div>

                                    <button type="submit" class="button-primary mt-2" [disabled]="loginForm.invalid"
                                        style="height: 55px; width: 98%; align-self: center; font-size: 20px;">
                                        Sign in</button>
                                    <p class="small-text d-flex align-self-center" style="font-size: 15px;">
                                        <a routerLink="/register" class="nav-link">Don't have an account yet? <b>Sign
                                                up!</b></a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>