@if (isMobile) {
<div class="container-fluid min-vh-100">
    <div class="row h-100 g-0">
        <div class="d-flex justify-content-center mt-4 gap-3">
            <button class="button-responsive" [class.active-menu]="activeSection === 'profile'"
                (click)="setActiveSection('profile')">{{ 'PROFILE_PAGE.PROFILE' | translate }}</button>
            <button class="button-responsive" [class.active-menu]="activeSection === 'statistics'"
                (click)="setActiveSection('statistics')">{{ 'PROFILE_PAGE.STATISTICS' | translate }}</button>
            <button class="button-responsive" [class.active-menu]="activeSection === 'sheets'"
                (click)="setActiveSection('sheets')">{{ 'PROFILE_PAGE.SHEETS' | translate }}</button>
        </div>
        @if (activeSection === 'profile'){
        <div class="col mt-4">
            <div class="card shadow" style="background-color: #EFF1F2;">
                <div class="card-body">
                    <div class="row g-3 align-items-center">
                        <h2 class="text-center mt-4 fs-3 fs-lg-2">{{ user.lastName }} {{ user.firstName }}</h2>
                        <p class="text-center mb-0">{{ user.email }}</p>
                        <hr class="w-100 mt-4">
                        <div class="card-body mt-2 mb-2">
                            <div class="row justify-content-center">
                                <button class="btn btn-primary button-primary w-50"
                                    (click)="setActiveSection('edit')">{{'PROFILE_PAGE.EDIT' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mt-4 mb-4" style="background-color: #EFF1F2;">
                <div class="card-body">
                    <div class="scrollable-container">
                        @for (event of signedEvents; track $index) {
                        <div class="row mb-3">
                            <div class="card shadow" style="background-color: #EFF1F2;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2 class="fs-4 fs-lg-3 mb-2">{{ event[0].eventGroupName ?? event[0].name }}</h2>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            @for (isSigned of signedEvents[$index]; track $index) {
                                                <span class="attendance-block" [ngClass]="isSigned.inTime ? 'present' : 'absent'"></span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
        @if (activeSection === 'statistics'){
        <div class="col mt-4">
            <div class="card shadow" style="background-color: #EFF1F2;">
                <div class="card-body">
                    <div class="row g-3 d-flex justify-content-between justify-content-center">
                        <div class="col">
                            <h1>Statistics</h1>
                        </div>
                        <div class="col">
                            <div class="form-field">
                                <select id="sheetGroup" class="form-select" style="border: 2px solid #213F9A; background-color: transparent;
                                    font-weight: 600; color: #213F9A;" [(ngModel)]="selectedEventGroupId" (change)="onEventGroupChange()">
                                    <option value="">Choose</option>
                                    <option *ngFor="let group of eventGroups" [value]="group.id">
                                      {{ group.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr class="mt-4" style="height: 2px; background-color: #213F9A; opacity: 1;">
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="table-responsive" style="background-color: #EFF1F2;">
                                <table class="bg-transparent w-100 attendance-table table-bordered">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th *ngFor="let event of matrix?.events">{{ event.eventName }}</th>
                                    </tr>
                                  </thead>
                                   <tbody>
                                    <tr *ngFor="let participant of matrix?.participants">
                                      <td><strong>{{ participant.userName }}</strong></td>
                                      <td
                                        class="text-center"
                                        *ngFor="let event of matrix?.events"
                                      >
                                        <img
                                          [src]="
                                            participant.attendances[event.eventId]
                                              ? 'Assets/Icons/check.svg'
                                              : 'Assets/Icons/cross.svg'
                                          "
                                          [alt]="
                                            participant.attendances[event.eventId] ? 'Present' : 'Absent'
                                          "
                                          [style.width.px]="participant.attendances[event.eventId] ? 25 : 30"
                                          [style.height.px]="participant.attendances[event.eventId] ? 25 : 30"
                                        />
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        @if (activeSection==='sheets'){
        <div class="col mt-4">
            <div class="card shadow" style="background-color: #EFF1F2;">
                <div class="card-body">
                    
                    <div class="row g-3 d-flex justify-content-between justify-content-center">
                        <div class="col">
                            <h1>Sheets</h1>
                        </div>
                        <div class="col-auto">
                            </div>
                        <hr class="mt-4" style="height: 2px; background-color: #213F9A; opacity: 1;">
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <div class="scrollable-container">
                                <div class="row g-3">

                                    <div class="col-12" *ngFor="let sheet of userEvents">
                                        <div class="card shadow" style="background-color: #EFF1F2;">
                                            <div class="card-body" style="cursor: pointer;">
                                                
                                                <div class="row d-flex align-items-center justify-content-between">
                                                    <div class="col mt-2" [routerLink]="['/sheet', sheet.id]">
                                                        <p class="h1" style="color: #213F9A;">{{ sheet.name }}</p>
                                                    </div>
                                                    
                                                    <div class="col-auto mb-2">
                                                        <button class="btn button-primary mt-2"
                                                            style="width: 10px; border: 2px solid #213F9A;"
                                                            (click)="$event.stopPropagation(); onEditSheet(sheet)">
                                                            {{'PROFILE_PAGE.EDIT' | translate}}
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="row d-flex align-items-end justify-content-end">
                                                <div class="col">
                                                    <a class="attendance-block" 
                                                    [routerLink]="['/sheet', sheet.id]"
                                                    title="Részletek megtekintése">
                                                    </a>
                                                </div>

                                                    <div class="col d-flex justify-content-end align-items-end mb-2">
                                                        <button class="btn button-danger mt-2" 
                                                                style="width: 10px;"
                                                                (click)="$event.stopPropagation(); onDeleteSheet(sheet.id)">
                                                            {{'PROFILE_PAGE.DELETE' | translate}}
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 text-center" *ngIf="userEvents?.length === 0">
                                        <p class="text-muted">No sheets found.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        }
        @if (activeSection === 'edit'){
        <div class="col mt-4">
            <div class="card shadow" style="background-color: #EFF1F2;">
                <div class="card-body">
                    <div class="row g-3 align-items-center">
                        <h2 class="text-center mt-4 fs-3 fs-lg-2">{{ user.lastName }} {{ user.firstName }}</h2>
                        <p class="text-center mb-0">{{ user.email }}</p>
                        <hr class="w-100 mt-4">
                        <div class="card-body mt-2 mb-2">
                            <div class="row justify-content-center">
                                <button class="btn btn-primary button-primary w-50"
                                    (click)="setActiveSection('edit')">{{ 'PROFILE_PAGE.EDIT' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mt-4 mb-4" style="background-color: #EFF1F2;">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row d-flex justify-content-between justify-content-center">
                                <div class="col-auto">
                                    <h1 class="text-center">{{ 'PROFILE_PAGE.EDIT_USER_INFO' | translate }}</h1>
                                </div>
                                <div class="col-auto ms-auto">
                                    <button class="border-0 p-0 m-0" type="button"
                                        (click)="setActiveSection('profile')">
                                        <img src="./Assets/Icons/cross.svg" style="width: 40px; height: 40px;">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-2">
                        <div class="form" style="gap: 20px">
                            <form #nameForm="ngForm" (ngSubmit)="onChangeName(nameForm)">
                                <div class="row d-flex justify-content-center ms-1 mx-1" style="gap: 20px;">
                                    <label for="username" class="field-label text-center"
                                        style="font-size: 20px; font-weight: 700;">
                                        {{ 'PROFILE_PAGE.CHANGE_NAME' | translate }}
                                    </label>
                                    <input type="text" class="flex-grow-1" placeholder="{{'PROFILE_PAGE.FIRST_NAME' | translate}}" id="firstName"
                                        name="firstName" [(ngModel)]="pendingFirstName" required>
                                    <input type="text" class="flex-grow-1" [(ngModel)]="pendingLastName"
                                        placeholder="{{ 'PROFILE_PAGE.LAST_NAME' | translate }}" id="lastName" name="lastName" required>
                                    <button type="submit" class="btn btn-primary button-primary align-self-center"
                                        style="width: 290px;">{{ 'PROFILE_PAGE.CHANGE_NAME' | translate }}</button>
                                </div>

                            </form>
                        </div>
                        <hr class="mt-4">
                        <form #passwordForm="ngForm" (ngSubmit)="onChangePassword(passwordForm)" class="form" style="gap: 20px;">
                            <label for="password" class="field-label text-center"
                                style="font-size: 20px; font-weight: 700;">
                                {{ 'PROFILE_PAGE.CHANGE_PASSWORD' | translate }}
                            </label>
                            <input
                              type="password"
                              id="oldPassword"
                              name="oldPassword"
                              placeholder="{{'PROFILE_PAGE.PASSWORD_CURRENT' | translate}}"
                              ngModel
                              required
                              class="form-control flex-fill"
                              >
                            <input
                              type="password"
                              id="password"
                              name="password"
                              placeholder="{{ 'PROFILE_PAGE.CONFIRM_PASSWORD' | translate }}"
                              ngModel
                              required
                              class="form-control flex-fill"
                            >
                            <input
                              type="password"
                              id="passwordConfirm"
                              name="passwordConfirm"
                              placeholder="Confirm Password"
                              ngModel
                              required
                              class="form-control flex-fill"
                            >
                            <button type="submit" class="btn btn-primary button-primary align-self-center">{{ 'PROFILE_PAGE.CHANGE_PASSWORD' | translate }}</button>
                            <div class="error mt-2" *ngIf="passwordErrorMessage">
                                <small>{{ passwordErrorMessage }}</small>
                              </div>
                              <div class="error mt-2" *ngIf="passwordConfirmErrorMessage">
                                <small>{{ passwordConfirmErrorMessage }}</small>
                            </div>
                        </form>
                        <hr class="mt-4">
                        <div class="form" style="gap: 20px;">
                            <form #emailForm="ngForm" (ngSubmit)="onChangeEmail(emailForm)">
                                <div class="row d-flex justify-content-center ms-1 mx-1" style="gap: 20px;">
                                    <label for="email" class="field-label text-center"
                                        style="font-size: 20px; font-weight: 700;">
                                        {{ 'PROFILE_PAGE.CHANGE_EMAIL' | translate }}
                                    </label>
                                    <input 
                                     type="email"
                                     class="flex-grow-1" 
                                     placeholder="{{ 'PROFILE_PAGE.EMAIL_ADDRESS' | translate }}" 
                                     id="email"
                                     name="email" 
                                     [(ngModel)]="pendingEmail" required
                                    >
                                    <input 
                                     type="text" 
                                     class="flex-grow-1" 
                                     placeholder="{{ 'PROFILE_PAGE.CONFIRM_EMAIL_ADDRESS' | translate }}"
                                     id="emailCheck" 
                                     name="emailConfirm" 
                                     [(ngModel)]="pendingEmailConfirm" 
                                     required
                                    >
                                    <button type="submit" class="btn btn-primary button-primary align-self-center"
                                        style="width: 290px;">{{ 'PROFILE_PAGE.CHANGE_EMAIL' | translate }}</button>
                                        <div *ngIf="emailErrorMessage" class="error mt-2">
                                  <small>{{ emailErrorMessage }}</small>
                                </div>
                                <div *ngIf="emailConfirmErrorMessage" class="error mt-2">
                                  <small>{{ emailConfirmErrorMessage }}</small>
                                </div>
                                </div>

                            </form>
                        </div>
                        <hr class="mt-4">
                        <div class="form" style="gap: 20px;">
                            <button class="btn btn-primary button-danger align-self-center" (click)="userDeleteModal.open()">
                                {{ 'PROFILE_PAGE.DELETE_ACCOUNT' | translate }}
                            </button>
                            <app-modal-warning
                              #userDeleteModal
                              [title]="modalTitle"
                              [message]="modalMessage"
                              (confirmed)="onDeleteAccount()">
                            </app-modal-warning>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
} @else {
<div class="container-fluid vh-100 p-0" style="background-color: #EFF1F2; overflow-x: hidden;">
    <div class="row h-100 g-0">
        <!--Vertikális navigáció, aktív oldal gombja kékkel ki legyen jelölve-->
        <div class="col-2 col-sm-1 p-0 mt-5" style="width: 170px;">
            <div class="d-flex flex-column">
                <button class="button-secondary-profile" [class.active-menu]="activeSection === 'profile'"
                    (click)="setActiveSection('profile')">{{ 'PROFILE_PAGE.PROFILE' | translate }}</button>
                <button class="button-secondary-profile" [class.active-menu]="activeSection === 'statistics'"
                    (click)="setActiveSection('statistics')">{{ 'PROFILE_PAGE.STATISTICS' | translate }}</button>
                <button class="button-secondary-profile" [class.active-menu]="activeSection === 'sheets'"
                    (click)="setActiveSection('sheets')">{{ 'PROFILE_PAGE.SHEETS' | translate }}</button>
            </div>
        </div>
        <div class="col card border-0 ps-4"
            style="background-color:#213F9A; border-top-right-radius: 0; border-bottom-right-radius: 0;">
            @if (activeSection === 'profile') {
            <div class="row g-3 mt-5 align-items-start">
                <div class="col-auto">
                    <div class="card justify-content-center align-items-center"
                        style="background-color:#EFF1F2; min-width: 260px;">
                        <div class="card-body">
                            <h2 class="text-center mt-4 fs-3 fs-lg-2">{{ user.lastName }} {{ user.firstName }}</h2>
                            <p class="text-center mb-0">{{ user.email }}</p>
                        </div>
                        <hr class="w-100 m-1">
                        <div class="card-body mt-2 mb-2">
                            <button class="btn btn-primary button-primary w-100"
                                (click)="setActiveSection('edit')">{{ 'PROFILE_PAGE.EDIT' | translate }}</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card w-100"
                        style="background-color: #EFF1F2; border-top-right-radius: 0; border-bottom-right-radius: 0;">
                        <div class="card-body" style="max-height: 2fr; overflow-y: auto;">
                            <div class="scrollable-container">
                                @for (event of signedEvents; track $index) {
                                <div class="row mb-3">
                                    <div class="card shadow" style="background-color: #EFF1F2;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <h2 class="fs-4 fs-lg-3 mb-2">{{ event[0].eventGroupName ?? event[0].name }}</h2>
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-md-6">
                                                    @for (isSigned of signedEvents[$index]; track $index) {
                                                        <span class="attendance-block" [ngClass]="isSigned.inTime ? 'present' : 'absent'"></span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            <!--Statisztikákhoz a mátrixos megjelenítés, ide kell majd-->
            @if (activeSection === 'statistics'){
            <div class="col mt-5">
                <div class="card w-100" style="background-color: #EFF1F2; width: 240vh;
                border-top-right-radius: 0; border-bottom-right-radius: 0;">
                    <div class="card-body">
                        <div class="row g-3 d-flex justify-content-between align-items-center">
                            <div class="col-auto pt-4">
                                <h1>{{ 'PROFILE_PAGE.STATISTICS' | translate }}</h1>
                            </div>
                            <div class="col-auto">
                                <div class="form-field">
                                    <select id="sheetGroup" class="form-select"
                                        style="border: 2px solid #213F9A; background-color: transparent; font-weight: 600; color: #213F9A;"
                                        [(ngModel)]="selectedEventGroupId" (change)="onEventGroupChange()">
                                        <option value="">Choose</option>
                                        <option *ngFor="let group of eventGroups" [value]="group.id">
                                          {{ group.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <hr class="mt-4 w-100" style="height: 3px; background-color: #213F9A; opacity: 1;">
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="table-responsive" style="background-color: #EFF1F2;">
                                    <table class="bg-transparent w-100 attendance-table table-bordered">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th *ngFor="let event of matrix?.events">{{ event.eventName }}</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let participant of matrix?.participants">
                                          <td><strong>{{ participant.userName }}</strong></td>
                                          <td
                                            class="text-center"
                                            *ngFor="let event of matrix?.events"
                                          >
                                            <img
                                              [src]="
                                                participant.attendances[event.eventId]
                                                  ? 'Assets/Icons/check.svg'
                                                  : 'Assets/Icons/cross.svg'
                                              "
                                              [alt]="
                                                participant.attendances[event.eventId] ? 'Present' : 'Absent'
                                              "
                                              [style.width.px]="participant.attendances[event.eventId] ? 25 : 30"
                                              [style.height.px]="participant.attendances[event.eventId] ? 25 : 30"
                                            />
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            <!--Minden a felhasználó által létrehozott jelenléti ív csoport és egyedi listázása. Kérdéses, hogy egyáltalán ez kell-e-->
            @if (activeSection === 'sheets'){
            <div class="col mt-4">
            <div class="card shadow" style="background-color: #EFF1F2;">
                <div class="card-body">
                    <div class="row g-3 d-flex justify-content-between justify-content-center">
                        <div class="col">
                            <h1>Sheets</h1>
                        </div>
                        <div class="col-auto">
                            </div>
                        <hr class="mt-4" style="height: 2px; background-color: #213F9A; opacity: 1;">
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="scrollable-container">
                                <div class="row g-3">

                                    <div class="col-12" *ngFor="let sheet of userEvents">
                                        <div class="card shadow" style="background-color: #EFF1F2;">
                                            <div class="card-body" style="cursor: pointer;">       
                                                <div class="row d-flex align-items-center justify-content-between">
                                                    <div class="col mt-2">
                                                        <p class="h1" style="color: #213F9A;">{{ sheet.name }}</p>
                                                    </div>

                                                    <div class="col-auto mb-2">
                                                        <button class="btn button-primary mt-2"
                                                            style="width: 10px; border: 2px solid #213F9A;"
                                                            (click)="$event.stopPropagation(); onEditSheet(sheet)">
                                                            {{'PROFILE_PAGE.EDIT' | translate}}
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-end justify-content-end">
                                                <div class="col">
                                                    <a class="attendance-block" 
                                                    [routerLink]="['/sheet', sheet.id]"
                                                    title="Részletek megtekintése">
                                                    </a>
                                                </div>
                                                    <div class="col d-flex justify-content-end align-items-end mb-2">
                                                        <button class="btn button-danger mt-2" 
                                                                style="width: 10px;"
                                                                (click)="$event.stopPropagation(); onDeleteSheet(sheet.id)">
                                                            {{'PROFILE_PAGE.DELETE' | translate}}
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center" *ngIf="userEvents?.length === 0">
                                        <p class="text-muted">No sheets found.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
            }

            @if (activeSection === 'edit'){
            <div class="row g-3 mt-5 align-items-start">
                <div class="col-auto">
                    <div class="card justify-content-center align-items-center"
                        style="background-color:#EFF1F2; min-width: 260px;">
                        <div class="card-body">
                            <h2 class="text-center mt-4 fs-3 fs-lg-2">{{ user.lastName }} {{ user.firstName }}</h2>
                            <p class="text-center mb-0">{{ user.email }}</p>
                        </div>
                        <hr class="w-100 m-1">
                        <div class="card-body mt-2 mb-2">
                            <button class="btn btn-primary button-primary w-100"
                                (click)="setActiveSection('edit')">{{'PROFILE_PAGE.EDIT' | translate}}</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card w-100" style="background-color: #EFF1F2;
                    border-top-right-radius: 0; border-bottom-right-radius: 0;">
                        <div class="card-body" style="max-height: 85vh; overflow-y: auto;">
                            <div class="row">
                                <div class="row d-flex justify-content-between align-items-center mt-1">
                                    <div class="col-auto">
                                        <h1 style="font-size: 43px;">{{ 'PROFILE_PAGE.EDIT_USER_INFO' | translate }}</h1>
                                    </div>
                                    <div class="col-auto">
                                        <button class="border-0 p-0" type="button"
                                            (click)="setActiveSection('profile')">
                                            <img src="./Assets/Icons/cross.svg"
                                                style="width: 50px; height: 50px; margin-bottom: 5px;">
                                        </button>
                                    </div>
                                </div>
                                <hr class="mt-2">
                                <div class="row d-flex justify-content-center align-items-center mb-4">
                                    <div class="col-8 text-center">
                                        <form #nameForm="ngForm" (ngSubmit)="onChangeName(nameForm)">
                                            <div class="form mt-3" style="gap: 0.75rem;">
                                                <label for="name" class="field-label"
                                                    style="font-size: 1.3rem; font-weight: 700; align-self: flex-start;">
                                                    {{ 'PROFILE_PAGE.CHANGE_NAME' | translate }}
                                                </label>
                                                <div class="d-flex gap-2 justify-content-center">
                                                    <input type="text" id="firstName" placeholder="{{'PROFILE_PAGE.FIRST_NAME' | translate}}"
                                                        name="firstName" class="form-control flex-fill"
                                                        [(ngModel)]="pendingFirstName" required>
                                                    <input type="text" id="lastName" placeholder="{{'PROFILE_PAGE.LAST_NAME' | translate}}"
                                                        name="lastName" class="form-control flex-fill"
                                                        [(ngModel)]="pendingLastName" required>
                                                    <button type="submit" class="button-primary flex-shrink-0 w-25"
                                                        style="width: 302px;">{{ 'PROFILE_PAGE.CHANGE_NAME' | translate }}</button>
                                                </div>
                                            </div>
                                            <div *ngIf="nameErrorMessage" class="error">
                                                <small>{{ nameErrorMessage }}</small>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr class="mt-4">
                                <div class="row d-flex mt-0 justify-content-center align-items-center mb-4 mt-3">
                                    <div class="col-8 text-center">
                                        <div class="form" style="gap: 0.75rem;">
                                            <form #passwordForm="ngForm" (ngSubmit)="onChangePassword(passwordForm)" class="form" style="gap: 0.75rem;">
                                          <label for="oldPassword" class="field-label" style="font-size: 1.3rem; font-weight: 700; align-self: flex-start;">
                                            Change Password
                                          </label>
                                          <div class="d-flex gap-2 justify-content-center">
                                            <input
                                              type="password"
                                              id="oldPassword"
                                              name="oldPassword"
                                              placeholder="{{'PROFILE_PAGE.PASSWORD_CURRENT' | translate}}"
                                              ngModel
                                              required
                                              class="form-control flex-fill"
                                            >
                                            <input
                                              type="password"
                                              id="password"
                                              name="password"
                                              placeholder="{{'PROFILE_PAGE.CHANGE_PASSWORD' | translate}}"
                                              ngModel
                                              required
                                              class="form-control flex-fill"
                                            >
                                            <input
                                              type="password"
                                              id="passwordConfirm"
                                              name="passwordConfirm"
                                              placeholder="{{'PROFILE_PAGE.CONFIRM_PASSWORD' | translate}}"
                                              ngModel
                                              required
                                              class="form-control flex-fill"
                                            >
                                            <button type="submit" class="button-primary flex-shrink-0 w-25">Change password</button>
                                          </div>
                                          <div class="error mt-2" *ngIf="passwordErrorMessage">
                                            <small>{{ passwordErrorMessage }}</small>
                                          </div>
                                          <div class="error mt-2" *ngIf="passwordConfirmErrorMessage">
                                            <small>{{ passwordConfirmErrorMessage }}</small>
                                          </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-3">
                                <div class="row d-flex mt-0 justify-content-center align-items-center mb-4 mt-3">
                                    <div class="col-8 text-center">
                                        <form #emailForm="ngForm" (ngSubmit)="onChangeEmail(emailForm)">
                                            <div class="form" style="gap: 0.75rem;">
                                                <label for="email" class="field-label"
                                                    style="font-size: 1.3rem; font-weight: 700; align-self: flex-start;">
                                                    {{ 'PROFILE_PAGE.CHANGE_EMAIL' | translate }}
                                                </label>
                                                <div class="d-flex gap-2 justify-content-center">
                                                    <input type="email" placeholder="{{'PROFILE_PAGE.EMAIL_ADDRESS' | translate}}" name="email"
                                                        class="form-control flex-fill" required
                                                        [(ngModel)]="pendingEmail" id="email" email>
                                                    <input type="email" placeholder="{{'PROFILE_PAGE.CONFIRM_EMAIL_ADDRESS' | translate}}" name="emailCheck"
                                                        class="form-control flex-fill" [(ngModel)]="pendingEmailConfirm"
                                                        id="emailConfirm" required email>
                                                    <button type="submit"
                                                       class="button-primary flex-shrink-0 w-25">{{ 'PROFILE_PAGE.CHANGE_EMAIL' | translate }}</button>
                                                </div>
                                                <div *ngIf="emailErrorMessage" class="error mt-2">
                                                    <small>{{ emailErrorMessage }}</small>
                                                </div>
                                                <div *ngIf="emailConfirmErrorMessage" class="error mt-2">
                                                    <small>{{ emailConfirmErrorMessage }}</small>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr class="mt-3">
                                <div class="row d-flex mt-0 justify-content-center align-items-center mb-4 mt-4">
                                    <div class="col-8 text-center">
                                        <button class="button-danger"
                                            style="height:50px; width: 300px; font-size: 20px;" (click)="userDeleteModal.open()">
                                            {{ 'PROFILE_PAGE.DELETE_ACCOUNT' | translate }}
                                        </button>
                                    </div>
                                    <app-modal-warning
                                      [title]="modalTitle"
                                      [message]="modalMessage"
                                      #userDeleteModal
                                      (confirmed)="onDeleteAccount()">
                                    </app-modal-warning>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
}
