<div class="background">
    <div class="shell">
        <div class="card-on-blue" style="display: block;">
            <div class="card-form" style="display: flex; columns: none;">
                <form class="form-singular">
                    <div class="form-two-column" style="margin-bottom: 1rem;">
                        <h1 class="field-label" style="text-align: left;">Sheet group:</h1>
                        <div class="form-field">
                            <!--
                            Felsorolni a felhasználó által készített esemény csoportokat majd a végére vonallal elválasztva 
                            legyenek a felhasználó által készített események amelyek nincsenek egy esemény csoportban sem.
                            Továbbá egy elem kijelölésekor jelenjenek meg a metaadataik az opcionális adatoknál disabled input-ok segítségével.
                            -->
                            <select id="sheetGroup" class="select-button" [(ngModel)]="selectedEventOrEventGroup" (ngModelChange)="onSelectionChange($event)" name="sheetGroup">
                                <option [value]="''" default>No sheet group</option>
                                <option *ngFor="let eventGroup of eventGroups" [value]="eventGroup.id">{{ eventGroup.name }}</option>
                                <option disabled>────────────</option>
                                <option *ngFor="let event of events" [value]="event.id">{{ event.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form" style="gap: 0.75rem; margin-top: 4rem;">
                        <label for="sheetName" class="field-label" style="font-size: 1.3rem; font-weight: 700;">
                            Name your sheet:
                        </label>
                        <input type="text" placeholder="Sheet name" name="sheetName" [(ngModel)]="currentEvent.name">

                        <!--??? Date ???-->
                        <label for="sheetDate" class="field-label" style="font-size: 1.3rem; font-weight: 700;">
                            Date of event:
                        </label>
                        <input type="datetime-local" placeholder="Date of event" name="sheetDate" [(ngModel)]="currentEvent.date">

                        <hr>

                        <label for="sheetMetadata" class="field-label" style="font-size: 1.3rem; font-weight: 700;">
                            Optional data:
                        </label>

                        <!-- Az alábbi metaadat felvevő felület akkor jelenik meg ha nincs kiválasztva esemény vagy esemény csoport. -->
                        <div *ngIf="selectedEventOrEventGroup === ''; else alreadyExistEventGroup" class="form">
                            <!-- Metadata hozzáadás. -->
                            <div *ngFor="let field of customFields; let i = index" class="custom-field-row">
                                <input type="text"
                                    [attr.name]="'requiredField' + i"
                                    placeholder="Enter data"
                                    name="sheetMetadata"
                                    [(ngModel)]="currentEvent.metadata[i]"
                                    [ngModelOptions]="{ standalone: true }">
                                <button type="button" class="button-icon button-icon-danger" (click)="removeCustomField(i)">
                                    <img style="width: 15px; height: 15px;" src="/Assets/Icons/cross-svgrepo-com.svg">
                                </button>
                            </div>
                            <button type="button" class="button-striped" (click)="addCustomField()">+</button>
                        </div>

                        <!-- A kiválasztott esemény vagy esemény csoport adatai. -->
                        <ng-template #alreadyExistEventGroup>
                            <div class="form">
                                <input *ngFor="let data of currentlySelectedMetadata" [placeholder]="data" disabled type="text">
                            </div>
                        </ng-template>

                        <button type="submit" class="button-primary" (click)="createSheet()"
                            style="width: 50%; align-self: center; margin-top: 1rem;">Create sheet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
