<div class="d-flex justify-content-center align-items-center min-vh-100 mt-2 mb-2">
  <div class="container p-4">
    <div class="card shadow shadow-sm p-4" style="background-color: #EFF1F2;">

      <div *ngIf="eventIsSigned(); else signForm" class="card-body d-flex justify-content-center">
        <div class="row">
          <h1>{{ 'SHEET.ALREADY_SIGNED' | translate }}</h1>
        </div>
      </div>

      <ng-template #signForm>
        <div class="card-body">
          <div class="row">
            <h1 class="text-center">{{ 'SHEET.EXAMPLE_EVENT' | translate }}</h1>
            <form>
              <div class="form" style="gap: 0.75rem; margin-top: 2rem;">
                <div *ngFor="let name of metadataNames; let i = index" class="d-flex flex-column w-50" style="margin-left: auto; margin-right: auto;">
                  <label class="field-label " style="font-size: 20px; font-weight: 700;">{{ name }}:</label>
                  <input type="text" [(ngModel)]="metadata[i]"  name="meta_{{i}}" class="form-control ">
                </div>
                <button (click)="SignInEvent()" type="submit" class="button-primary w-50 align-self-center mt-3" style="height: 55px; font-size: 25px;">
                  {{ 'SHEET.SIGN_SHEET_BUTTON' | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>